*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",Tahoma,Geneva,Verdana,sans-serif;

}

body{

    background:#111827;
    background-size:400% 400%;
    

}

@keyframes gradient{

0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}

}

.ajout-container{
    min-height:calc(100vh - 80px);

    padding: 50px 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    background:
    radial-gradient(circle at top left,#2c2c2c,transparent 40%),
    radial-gradient(circle at bottom right,#001d5c,transparent 40%),
    #111827;
}



.ajout-box{

    width:100%;
    max-width: 900px;

    margin: auto;

    padding:45px;

    background:#f2f1ed;

    backdrop-filter:blur(20px);

    border-radius:25px;

    border:1px solid rgba(255,255,255,.2);

    box-shadow:0 20px 40px rgba(0,0,0,.25);

}

.ajout-box h1{

    color:#182750;

    text-align:center;

    font-size: 55px;

}

.subtitle{

    text-align:center;

    color:#6d7b8e;

    margin-bottom:35px;

}

.grid{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:20px;

}

.full{

    grid-column:1/3;

}

.input-box{

    display:flex;

    align-items:center;

    background:white;

    border-radius:15px;

    overflow:hidden;

    transition:.3s;

}

.input-box:hover{

    transform:translateY(-2px);

}

.input-box:focus-within{

    box-shadow:0 0 15px #60a5fa;

}

.input-box span{

    width:55px;

    text-align:center;

    font-size:24px;

}

.input-box input{

    flex:1;

    border:none;

    outline:none;

    padding:18px;

    font-size:15px;

}

.ajout-box button{

    width:100%;

    margin-top:30px;

    padding:18px;

    border:none;

    border-radius:15px;

    cursor:pointer;

    font-size:17px;

    font-weight:bold;

    color:white;

    background:#182750;

    transition:.35s;

}

button:hover{

    transform:translateY(-4px);

    box-shadow:0 15px 30px rgba(37,99,235,.45);
    background:#223566;

}

button:active{

    transform:scale(.98);

}

@media(max-width:850px){

    .ajout-box{

        width:95%;

        padding:30px;

    }

    .grid{

        grid-template-columns:1fr;

    }

    .full{

        grid-column:auto;

    }

}


